/*
 * The main dark mode styles
 */

@mixin dark-scheme {
  /* Framework color */
  --main-bg: #0B132B;
  --mask-bg: #1C2541;
  --main-border-color: #1C2541;

  /* Common color */
  --text-color: rgb(175, 176, 177);
  --text-muted-color: #3A506B;
  --text-muted-hightlight-color: #5BC0BE;
  --heading-color: #6FFFE9;
  --label-color: #5BC0BE;
  --blockquote-border-color: #1C2541;
  --blockquote-text-color: #868686;
  --link-color: #5BC0BE;
  --link-underline-color: #3A506B;
  --button-bg: #0B132B;
  --btn-border-color: #1C2541;
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: #1C2541;
  --btn-box-shadow: var(--main-bg);
  --card-header-bg: #0B132B;
  --checkbox-color: #5BC0BE;
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(circle, #0B132B 0%, #3A506B 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(58, 55, 55, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Sidebar */
  --site-title-color: #5BC0BE;
  --site-subtitle-color: #5BC0BE;
  --sidebar-bg: #0B132B;
  --sidebar-border-color: #1C2541;
  --sidebar-muted-color: #5BC0BE;
  --sidebar-active-color: #5BC0BE;
  --sidebar-hover-bg: #1C2541;
  --sidebar-btn-bg: #0B132B;
  --sidebar-btn-color: #5BC0BE;
  --avatar-border-color: #5BC0BE;

  /* Topbar */
  --topbar-bg: #0B132B;
  --topbar-text-color: var(--text-color);
  --search-border-color: #3A506B;
  --search-icon-color: #3A506B;
  --input-focus-border-color: #5BC0BE;

  /* Home page */
  --post-list-text-color: #5BC0BE;
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: #1C2541;

  /* Posts */
  --toc-highlight: #5BC0BE;
  --tag-hover: #1C2541;
  --tb-odd-bg: #1C2541; /* odd rows of the posts' table */
  --tb-even-bg: #0B132B; /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: rgb(63, 81, 181);
  --btn-share-color: #5BC0BE;
  --btn-share-hover-color: #5BC0BE;
  --card-bg: #0B132B;
  --card-hovor-bg: #3A506B;
  --card-shadow: #0B132B 0 6px 18px 0,
    #1C2541 0 0 0 1px;
  --kbd-wrap-color: #5BC0BE;
  --kbd-text-color: #5BC0BE;
  --kbd-bg-color: #1C2541;
  --prompt-text-color: rgb(216, 212, 212, 0.75);
  --prompt-tip-bg: rgb(22, 60, 36, 0.64);
  --prompt-tip-icon-color: rgb(15, 164, 15, 0.81);
  --prompt-info-bg: rgb(7, 59, 104, 0.8);
  --prompt-info-icon-color: #0075d1;
  --prompt-warning-bg: rgb(90, 69, 3, 0.88);
  --prompt-warning-icon-color: rgb(255, 165, 0, 0.8);
  --prompt-danger-bg: rgb(86, 28, 8, 0.8);
  --prompt-danger-icon-color: #cd0202;

  /* tags */
  --tag-border: #3A506B;
  --tag-shadow: #0B132B;
  --dash-color: #3A506B;
  --search-tag-bg: #1C2541;

  /* categories */
  --categories-border: #1C2541;
  --categories-hover-bg: #3A506B;
  --categories-icon-hover-color: white;

  /* archives */
  --timeline-node-bg: #3A506B;
  --timeline-color: #1C2541;
  --timeline-year-dot-color: var(--timeline-color);

  .light {
    display: none;
  }

  hr {
    border-color: var(--main-border-color);
  }

  /* categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-color: #1C2541 ;
  }

  color-scheme: dark;

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }
} /* dark-scheme */
